body {
    background: linear-gradient(135deg, #DAB3FF, #FFB3B3);
    color: black;
    text-align: center;
    font-size: 1rem;
}

#nav-container ul {
display: flex;
justify-content: center;
align-items: center;
column-gap: 5vw;

}
#nav-container li {
    font-size: 1.4rem;
text-transform: lowercase;
    list-style-type: none;
    padding: 2vw;
    border-radius: 6px;
    /* border: 2px solid yellowgreen;     */
    cursor: pointer;
}
#nav-container li:hover {
color: yellowgreen;

}
#content {
    display: flex;
    flex-direction: column;
    /* place-items: center; */
    
    row-gap: 200px;
}
#description-container {
    /* border: 5px solid yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: left;
}
#img-container {
width: 100%;
height: auto;
}
#img-container img {
background-size: contain;
    background-position: center;
    width: 100%;
    opacity: 0.7;
    border-radius: 25px;
}

#description-container #text-container {
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
    /* border: 5px solid yellowgreen; */
    
    font-size: 1.5rem;
    
}
@media (max-width: 800px) {
    #description-container #text-container {
font-size: 1.2rem;
    }
    
}

#text-container h1 {
    color: white;
    text-transform: lowercase;
font-family: 'Courier New', Courier, monospace;
padding: auto;
margin-bottom: 10%;
}
#text-container p {
    color: white;
    text-transform: lowercase;
/* font-family: 'Courier New', Courier, monospace; */
opacity: 0.7;
padding: auto;
margin-bottom: 20%;
}

#section-2-parent-container {
    width: 80vw;
    height: 600px;
    background-color: white;    
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: left;

}
#section-2-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

#section-2-title {
    color: black;
font-size: 2.2rem;
    
}
#section-2-paragraph {
    color: black;
font-size: 1.2rem;
    
}